body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin-top: 10px; /* Adjust the margin based on your fixed header height */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.table-container thead {
    position: sticky;
    top: 60px; /* Adjust the top based on your fixed header height */
    background-color: #3498db; /* Adjust the background color as needed */
    color: white;
    z-index: 100;
}

.table-container th, .table-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #3498db;
    color: white;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #3498db;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

/* Style update and delete buttons */
/* Style update and delete buttons */
.update-button,
.delete-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.update-button {
    
    color: green;
    border: 1px solid #4caf50;
}

.update-button:hover {
    background-color: #27ae60;
    color: #fff;
}

.delete-button {

color: red;
border: 1px solid #e74c3c;
}

.delete-button:hover {
    background-color: #e74c3c;
    color: #fff;
}



/* Style pagination links */
.pagination-links {
    margin-top: 20px;
    text-align: center;
}

.pagination-links a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination-links a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination-links a:hover:not(.active) {
    background-color: #ddd;
}


@media screen and (min-width: 769px) {
    .table-container table {
        width: 100%;
        overflow-x: auto;
    }
}

/* Header and table head fixed position on mobile */
@media screen and (max-width: 768px) {
    .fixed-header {
        position: static;
        background-color: #fff;
        box-shadow: none;
    }

    .table-container {
        margin-top: 0;
    }

    .table-container table {
        width: 100%;
        overflow-x: auto;
    }

    .table-container thead {
        position: static;
        top: auto;
        background-color: #3498db;
        color: white;
        z-index: 100;
    }
}
